{{!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class=" navbar-header">
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div  class="col-10 text-white">

      <P>Welcome. </P>

      <P><B>JobTrek</B> wants to <B>keep your job search sane!</B>. As such, we want to make your job search as pleasant
        as possible by helping you track all your job applications. </P>

      <P>If you want to know what makes this job application tracker special, please watch our <a href="/demo"
          class="btn btn-primary btn-large">Demo</a></P>

      <P>If you are ready to start, please click <a href="/signup" class="btn btn-primary btn-large">Sign up</a></P>

      <P>If you already have an account, please <a href="/login" class="btn btn-primary btn-large">Log in</a> to
        access your job application tracking features. </P>

      {{!-- <P><a href="/admin">Admin</a> (Not working!!!!)</P> --}}

</div>
<div class="col-1"></div>
</div>
</div> --}}


<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#"> Demo </a>
    <a class="btn btn-primary" href="/login">Sign In</a>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

        <div class="col-12 col-md-3">
          <a href="/signup" class="btn btn-primary btn-large">Sign up</a>
        </div>

      </div>
    </div>
  </div>
</header>